################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AI_ERP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
