################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AI_ERP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/AI_ERP/FileContentIndex/ea435ac6-e828-4b84-ba4b-4fe34d6f6d61.vsidx
/.vs/AI_ERP/FileContentIndex/fca7c671-d83f-4ccb-9e4a-c4fbc06af1c5.vsidx
/.vs/AI_ERP/FileContentIndex
