USE [SCHEMA_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CBT_RUMAH_SOAL_INSERT]    Script Date: 2/21/2023 9:13:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CBT_RUMAH_SOAL_update](
	@Kode	varchar(50),
	@Rel_Rapor_StrukturNilai_KP	varchar(50),
	@Rel_Mapel	varchar(50),
	@Rel_Guru	varchar(1000),	
	@Kurikulum varchar(20),
	@Nama varchar(100),
	@Deskripsi varchar(1000),
	@StartDatetime varchar(100) = '1900-01-01 00:00:00',
	@EndDatetime varchar(100) = '1900-01-01 00:00:00',
	@LimitTime int,
	@LimitSatuan varchar(10) = null,	
	@user_id varchar(500)
)
AS
BEGIN
	UPDATE [dbo].[CBT_RumahSoal]
   SET 
      [Rel_Rapor_StrukturNilai_KP] = @Rel_Rapor_StrukturNilai_KP
      ,[Rel_Mapel] = @Rel_Mapel
      ,[Rel_Guru] = @Rel_Guru
      ,[Kurikulum] = @Kurikulum
      ,[Nama] = @Nama
      ,[Deskripsi] = @Deskripsi
      ,[StartDatetime] = @StartDatetime
      ,[EndDatetime] = @EndDatetime
      ,[LimitTime] = @LimitTime
      ,[LimitSatuan] = @LimitSatuan     
      ,[UpdateDate] = GETDATE()
 WHERE Kode = @Kode
      

	--EXEC SCHEMA_ERP.dbo.UserActivities_INSERT 
	--	@user_id,
	--	'Tambah data soal',
	--	@Kode
	--;
END