USE [SCHEMA_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CBT_BANK_SOAL_SELECT_BY_ID]    Script Date: 2/20/2023 9:09:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CBT_RUMAH_SOAL_SELECT_BY_KP](
	@Rel_Rapor_StrukturNilai_KP	uniqueidentifier
)
AS
BEGIN
	SELECT * FROM CBT_RumahSoal 
	WHERE Rel_Rapor_StrukturNilai_KP = @Rel_Rapor_StrukturNilai_KP
END


