USE [SCHEMA_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CBT_DESIGN_SOAL_SELECT_BY_RS]    Script Date: 2/22/2023 7:59:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CBT_DESIGN_SOAL_SELECT_BY_RS](
	@Rel_RumahSoal	uniqueidentifier
)
AS
BEGIN
	SELECT * FROM CBT_DesignSoal a
	left join CBT_RumahSoal b on b.Kode =  a.Rel_RumahSoal
	left join CBT_BankSoal c on c.Kode = a.Rel_BankSoal
	WHERE a.Rel_RumahSoal = @Rel_RumahSoal
END


